.buttonFavorite{
    background-color: var(--bg-card-color);
    position: fixed;
    left: 10em;
    bottom: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: inline-block;
    border: .1em solid var(--text-color);
    cursor: pointer;
    transition: border-color .3s ease;
    overflow: hidden;
}
.buttonFavorite:hover{
    border-color: var(--color);
}

.buttonFavorite svg{
    width: 100%;
    height: 100%;
    padding: .5em;
    fill: var(--text-color);
    transition: fill .3s ease;
    
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .5s ease;
}

.buttonFavorite:hover > svg{fill: var(--color);}

.buttonFavorite:hover > .svg-1{transform: translateY(-100%);}
.buttonFavorite .svg-2{transform: translateY(100%);}
.buttonFavorite:hover > .svg-2{transform: translateY(0%);}