.favorites{
    position: relative;
    border: .4em solid var(--color);
    max-width: var(--max-width-form);
    margin: 4em 0 5em;
    width: 100%;
    padding: 2.5em 1em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5em;
}

.favorite__title{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-1.8em);
    color: var(--color);
}

.favorite__container{
    display: block;
    border: none;
    height: 3em;
    background-color: var(--color);
    position: relative;
    border-radius: 1em;
    margin-bottom: 2.5em;
    width: 100%;
    border: .2em solid var(--bg-card-color);
}

.favorite__logo{
    display: block;
    width: 45%;
    height: 150%;
    object-fit: cover;
    position: absolute;
    left: 0%;
    transform: translate(10%,-90%) scale(.9);
    transition: transform .5s ease;
}

.favorite__song{
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(-250%);
    background-color: var(--bg-card-color);
    color: var(--text-color);
    border-radius: 10px;
    border: 1px solid var(--text-color);
    padding: 1.5em .5em;
    text-align: center;
    font-size: .8em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .5s ease, visibility .5s ease, transform .5s ease;
}

.favorite__container:hover > .favorite__song{
    opacity: 1;
    visibility: visible;
    transform: translateY(-200%);
}

.favorite__song .span{
    display: block;
    width: 1em;
    height: 1em;
    background-color: var(--bg-card-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%) rotate(45deg);
    border: 1px solid var(--text-color);
}

.favorite__play,
.favorite__delete{
    background-color: var(--bg-card-color);
    border-radius: 50%;
    position: absolute;
    padding: .1em;
    fill: var(--bg-color);
    width: 4.5em;
    height: 4.5em;
    right: 1em;
    top: 0;
    transform: translate(0%,-50%);
    cursor: pointer;
    transition: opacity .5s ease, visibility .5s ease, transform .5s ease, fill .5s ease;
}

.favorite__play{
    right: 7em;
}

.favorite__delete:hover{
    fill: var(--red);
}

.favorite__play:hover{
    fill: var(--color);
}

@media screen and (min-width:966px) {
    .favorites{
        padding: 1.5em 1em 0;
    }

    .favorite__container{
        display: block;
        border: none;
        width: 10em;
        height: 4em;
        background-color: var(--color);
        position: relative;
        border-radius: 1em;
        margin-bottom: 2.5em;
        transition: transform .5s ease;
        border: .2em solid var(--bg-card-color);
    }
    .favorite__container:hover{transform: scale(.9);}
    
    .favorite__logo{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-60%) scale(.9);
        transition: transform .5s ease;
    }
    .favorite__container:hover > .favorite__logo{
        transform: translate(-50%,-120%) scale(1.2);
    }
    
    .favorite__song{
        position: absolute;
        width: 100%;
        top: 0;
        transform: translateY(-300%);
        background-color: var(--bg-card-color);
        color: var(--text-color);
        border-radius: 10px;
        padding: 1em .5em;
        text-align: center;
        font-size: .8em;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .5s ease, visibility .5s ease, transform .5s ease;
    }
    
    .favorite__container:hover > .favorite__song{
        opacity: 1;
        visibility: visible;
        transform: translateY(-250%);
    }
    
    .favorite__song .span{
        display: block;
        width: 1em;
        height: 1em;
        background-color: var(--bg-card-color);
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,50%) rotate(45deg);
    }
    
    .favorite__play,
    .favorite__delete{
        background-color: var(--bg-card-color);
        border-radius: 50%;
        padding: .1em;
        fill: var(--bg-color);
        width: 3.5em;
        height: 3.5em;
        position: absolute;
        transform: translate(0,100%);
        visibility: hidden;
        opacity: 0;
        right: 10%;
        transition: opacity .5s ease, visibility .5s ease, transform .5s ease, fill .5s ease;
    }
    
    .favorite__play{
        left: 10%;
    }
    
    .favorite__container:hover > .favorite__play,
    .favorite__container:hover > .favorite__delete{
        opacity: 1;
        visibility: visible;
        transform: translate(0,50%);
    }
    
    .favorite__delete:hover{
        fill: var(--red);
    }
    
    .favorite__play:hover{
        fill: var(--color);
    }
}
