.back{
    transition: opacity 1s ease, visibility 1s ease, transform 1s ease;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transform: scale(0.5);
    box-sizing: border-box;
    margin: auto;
}
.back.active{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    position: static;
}

.artist .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1em;
}

.artist .day23{
    margin: auto;
    width: 100%;
    min-width: 350px;
    font-size: 1em;
}

.img{
    max-width: var(--max-width-artist);
    margin: 0;
    flex: 1 1 1px;
    width:100%;
    max-width:350px;
}

.artist .ul-container{
    margin-bottom: 30px;
    margin: auto;
}

.artist .ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em 0;
    border: none;
    padding: 1em;
    font-size: 1.2em;
    margin: 1em auto;
}

.artist .li{
    min-width: 250px;
    width: 33%;
    font-size: .8em;
}

.artist .li:last-child{
    width: 100%;
}

.artist .span{
    color: var(--color);
    font-weight: bold;
}

.artist .banner{
    width: 100%;
    min-height: 100px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.artist .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    position: sticky;
    top: 1em;
    margin: auto;
    margin-bottom: 4em;
}

.artist .a{
    position: relative;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

.artist .span-letter{
    display: inline-block;
    transform: translate(0vw);
    transition: transform .5s ease;
    position: relative;
}

.artist .a:hover > .span-letter{
    transform: translate(-100%);
}

.artist .icon{
    width: 3em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(50vw);
    transition: transform .5s ease;
}

.artist .a:hover > .icon{
    transform: translate(-50%);
}

@media screen and (min-width:768px) {
    /* .artist  .btn{
        font-size: 1.1em;
        padding: .5em;
    }

    .artist .li{
        font-size: .9em;
    }
     */
     
    .artist .container{
        flex-direction: row;
    }
}

@media screen and (min-width:966px) {
    /* .artist  .btn{
        font-size: 1.2em;
        padding: .5em;
    }

    .artist .li{
        font-size: 1em;
    } */

    .artist .day23{
        font-size: 1.2em;
    }
    .artist .ul{
        border: .8em solid var(--color);
    }
}

@media screen and (min-width:1200px) {
    .artist .day23{
        font-size: 1.35em;
    }
}