.ErrorPage{
    color: var(--text-color);
    min-height: 100vh;
    width: 90%;
    max-width: var(--max-width-page);
    margin: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-card-color);
    
    position: relative;
    overflow: hidden;
    border: 1px solid red;
}

.error-page-btn{
    text-decoration: none;
    position: relative;
    max-width: var(--max-width-form);
    text-align: center;
    font-weight: bold;
}