:root{
  --bg-color:#DFDFDE;
  --bg-card-color:#FFF9F9;
  --text-color:#0F0E0E;
  --color:#2D4263;
  
  --border-radius:3px;
  --max-width-form:25em;
  --max-width-page: 1440px;

  --box-shodown-50:#2D426350;
  --box-shodown-40:#2D426340;
  --box-shodown-30:#2D426330;
  --box-shodown-20:#2D426320;
  --box-shodown-10:#2D426310;

  --red:rgb(207, 62, 62);
}

.dark{
  --bg-color:#191A19;
  --bg-card-color:#0F0E0E;
  --text-color:#FFF9F9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,input,.btn{
  outline-color: var(--color);
}

img{display: block;}